<h1>Items Home Page</h1>
<p>Admin Name: <%= @current_admin.name %>
<%= link_to "Log out", logout_path, method: "delete" %></p>
<table border="1">
<tr>
	<td>User Name</td>
	<td>Item Purchased</td>
	<td>Item Categories</td>
</tr>
<% @users.each do |user| %>
	<% user.items.each do |item| %>
	<tr>
		<td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
		<td><%= item.name %></td>
		<% a = item.categories.map{|a| a.name} %>
		<td><%= a.inject {|cat, c| cat + ", " + c} %></td>
	</tr>
	<% end %>
<% end %>
</table>